main{
    background-color:white;
    min-height:900px;
    }
p{
    margin-left:10px;
    margin-right:10px;
    text-align:center;
    font-size:18px;
}

#mainWindow{
    background-color:white;
    border-radius:10px 10px 10px 10px;
    border:1px solid #E0E0E0 ;
    padding:10px;
    margin-top:20px;
    
}
h1{
    text-align:center;
    BACKGROUND-COLOR:#E0E0E0 ;
    border-radius:10px 10px 10px 10px;
}
button{
    border-radius:10px 10px 10px 10px;
    float:right;
    background-color:black;
}
#time{
    font-size:12px;
    text-align:right;
}
#deleteButton{
    background: url('../pics/delete.png') no-repeat 0 0;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
    margin:10px;
    float:left;
    background-color:#4DE2CE;
    border-radius:10px 10px 10px 10px;
}
#timeButton{
    background: url('../pics/time3.png') no-repeat 0 0;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
    float:right;
    margin:10px;
    background-color:#4DE2CE;
    border-radius:10px 10px 10px 10px;
}
.messageBox{
    border:1px solid #E0E0E0 ;
    margin-top:10px;
    margin-bottom:10px;
    overflow:hidden;
    background-color:white;
    color:black ;
    border-radius:10px 10px 10px 10px;
}