main{
    background-color:#4DE2CE;
    border-radius:20px 20px 20px 20px;
    min-height:900px;
    }
.large-6 columns{
   

}
p{
    margin:20px;
    width:90%;
}
div{
  background-color:white;
}
#timeButton{
    background: url('../pics/time3.png') no-repeat 0 0;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
    font-size:20px;
    float:right;
}


.messageBox{
    border:1px solid black;
    margin-top:-1px;
    overflow:hidden;
}